<template name="alltags">
  <a href='/tags/jLD8KdUmKNQ'>UK context</a><br>
  <a href='/tags/oc8QsWZodIA'>World_Context</a><br>
  <a href='/tags/cNVcKNdgTAI'>Flexibility</a><br>

  <a href='/tags/ZnoGAVHbI8o'>Unitisation</a><br>
  <a href='/tags/3pHeVlINalY'>Trust</a><br>
  <a href='/tags/zpA9vdPY3K0'>Workers Voice</a><br>

  <a href='/tags/vhSwr7vpdco'>Competition</a><br>
  <a href='/tags/_cli5m2G1fY'>Insecurity</a><br>
  <a href='/tags/1YIwYQoE4mA'>Worker Solidarity</a><br>

  <a href='/tags/wcThyHNpXmU'>Compete</a><br>
  <a href='/tags/FtjJYzEDkCw'>Capitalise</a><br>
  <a href='/tags/z2Tj-s5XnvI'>Cooperate</a><br>



</template>
