<template name="about">
  <div class="container">
    <div id="main" class="row-fluid">
	<div class="col-sm-7" style="margin-top:50px">
		<h1>GLASSHOUSE COLLECTIVE</h1>

		<p>Glasshouse came together at Hack The Space, an art hack organised to launch digital art platform The Space. <br><br>Our project, Glasshouse was a prize winner at the hack, and we were awarded funds to develop our work further. 

		Our projects aim to expose the cracks and pitfalls in internet practices.</p>

		
		

		<h2>Glasshouse members:</h2>
		
			<h3>Tom Berman</h3> 
			<p>Developer and hacker @tjcberman</p>
		
			<h3>Charlotte Webb</h3>
			Artist, researcher @otheragent

	 

		<h3>Joseph Connor</h3>
	VC, disruptive thinker, digital artist @jacswork


		<h3>Emil Wallner</h3>
		Co-founder, Emerge venture labs @EmilWallner 

	
		
	</div>
<div class="col-sm-5" style="margin-top:50px">
      <iframe width="100%" height="315" src="//www.youtube.com/embed/8Y2YqAmSiEI" frameborder="0" allowfullscreen></iframe>
	  <iframe width="100%" height="315" src="//www.youtube.com/embed/5yGqH3T8TsU?list=PLrRq4FeMUe-eRyDapuul5_yuI9YdC6z56" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
  </div>
</template>