<template name="about">
  <div class="container">
    <div id="main" class="row-fluid">
	<div class="col-sm-7" style="">
		<h1>GLASSHOUSE COLLECTIVE</h1>

		<p>Glasshouse came together at Hack The Space, an art hack organised to launch digital art platform The Space. <br><br>Our project, Glasshouse was a prize winner at the hack, and we were awarded funds to develop our work further. 

		Our projects aim to expose the cracks and pitfalls in internet practices.</p>

		
		

		<h2>Glasshouse members:</h2>
		
			<h3>Tom Berman</h3> 
			<p>Developer and hacker <a href='https://twitter.com/TJCBerman' target='_blank'>@tjcberman</a></p>
		
			<h3>Charlotte Webb</h3>
			Artist, researcher <a href='https://twitter.com/otheragent' target='_blank'>@otheragent</a> 

	 

		<h3>Joseph Connor</h3>
	VC, disruptive thinker, digital artist <a href='https://twitter.com/jacswork' target='_blank'>@jacswork</a>


		<h3>Emil Wallner</h3>
		Co-founder, Emerge venture labs <a href='https://twitter.com/EmilWallner' target='_blank'>@EmilWallner</a> 

	<br><br>
		
	</div>
<div class="col-sm-5" style="">
      	<a class="twitter-timeline"  href="https://twitter.com/WorkWeWant" data-widget-id="530783815489175554">Tweets by @WorkWeWant</a>
    </div>
</div>
  </div>
</template>