<template name="about">
	<div class="col-sm-7 textBox" style="">
		<h1>GLASSHOUSE COLLECTIVE</h1>
		<a href='mailto:theworkwewant@gmail.com' target='_blank' class="bigLink">theworkwewant@gmail.com</a> <span style="font-size:1.8em">|</span> <a href='http://twitter.com/workwewant' target='_blank' class="bigLink">@workwewant</a>
		<br><br>
		<p>Glasshouse Collective came together at Hack The Space, an art hack held at Tate
		Modern, in which artists, developers and innovators came together to follow a brief: <br> 

		<i>“Take any data and turn it into a work of art.”</i><br><br> We formed a team and spent 24 hours 

		'hacking the hack' by outsourcing the brief to workers around the world. We gained a 

		reputation for being playful agitators, and were rewarded with enough prize money to 

		develop our work together. 

		<br><br>We now create projects that provoke questions about social, political and economic 

		problems and possibilities brought about by the web. Our current focus is on digital 

		labour. But who knows what will be next.</p>

		
		<h2>Members:</h2>
			<p>Tom Berman : Developer and hacker <a href='https://twitter.com/TJCBerman' target='_blank'>@tjcberman</a></p>
		
			<p>Charlotte Webb: Artist, researcher <a href='https://twitter.com/otheragent' target='_blank'>@otheragent</a></p> 

	<p>Joseph Connor: VC, disruptive thinker, digital artist <a href='https://twitter.com/jacswork' target='_blank'>@jacswork</a></p>

		<p>Emil Wallner: Co-founder, Emerge venture labs <a href='https://twitter.com/EmilWallner' target='_blank'>@EmilWallner</a></p> 

	<br><br>
		
	</div>

</template>