<template name="homepg">
  <div class="container">
    <div id="main" class="row-fluid">
	<div class="col-sm-6" id="explain">
		<p>As part of the <a href="http://webwewant.southbankcentre.co.uk/" target="_blank">Web We Want Festival</a>, we asked digital workers around the world about their experiences of work. They were asked to submit a photograph of themselves at work and to answer <strong><a href="https://www.freelancer.co.uk/contest/Global-Art-Competition-Work-We-Want-123002--1.html">4 questions</a></strong>
		<br><br>
		We received over 200 submissions and exhibited a selection of them at the festival. The public voted for the images and responses they found most interesting, compelling, or moving. <br><br><strong>The winner was Tricia Schroeder from Canada</strong>
		<a id="voteNow" href="{{pathFor 'posts'}}">See entries</a>
		
		
		<h3>What next?</h3>
		<ol>
			<li>Engage digital artist to work with Tricia to create a digital art work.</li> 
			<li>Explore the the world of digital labour further by interviewing key stakeholders</li>
			</ol>
			<br>
			This will be shown at the <a href="http://webwewant.southbankcentre.co.uk/" target="_blank">Web We Want Festival</a> in May 2015.
		</p>
		
		
	</div>
<div class="col-sm-6" style="margin-top:40px">
		<iframe width="90%" height="315" src="//www.youtube.com/embed/FHkc9pq9wUs" frameborder="0" allowfullscreen></iframe>


    </div>
</div>
  </div>
</template>