<template name="home">
  <div class="container">
    <div id="main" class="row-fluid">
	<div class="col-sm-6" id="explain">
		<p>We asked digital workers around the world about their experiences of work. They were asked to submit a photograph of themselves at work and to answer 4 questions:</p><br>

		<ul>
		<li>What work do you do?</li>
		<li>How much are you paid?</li>
		<li>What work do you want?</li>
		<li>How much do you want to be paid?</li> 
		</ul><br>
		<p>We are now inviting the public to vote for the images and responses you find most interesting, compelling, or moving. The person who receives the most votes will be given a $5000 prize.
			<br><br>
		We will then create an artwork that attempts to tell the story of the winner.
		<br><br>
		<p> <a href="#">Follow the project on Twitter </a>#workwewant</p>
		</p>
		
		
	</div>
<div class="col-sm-6" style="margin-top:20px">
      <h1>Get involved </h1>
		<a class="navbar-brand" href="{{pathFor 'posts'}}">VOTE NOW</a>
    </div>
</div>
  </div>
</template>