<template name='infographic'>
<img src='infographic.svg' style='width:100%;height:auto;' usemap="#Map3">


<map name="Map3" id="Map3">
  <area shape="rect" coords="428,1200,735,1430" href='/interviews' target='_blank' />
  <area shape="rect" coords="93,2461,401,2693" href='/interviews' target='_blank' />
  <area shape="rect" coords="232,3006,316,3160" href='/interviews' target='_blank' />
  <area shape="rect" coords="358,3015,474,3159" href='/interviews' target='_blank' />
  <area shape="rect" coords="522,3027,615,3161" href='/interviews' target='_blank' />
  <area shape="rect" coords="93,3190,179,3391" href='/interviews' target='_blank' />
  <area shape="rect" coords="224,3303,327,3393" href='/interviews' target='_blank' />
  <area shape="rect" coords="361,3244,478,3395" href='/interviews' target='_blank' />
  <area shape="rect" coords="518,3253,617,3392" href='/interviews' target='_blank' />
  <area shape="rect" coords="148,3716,298,3912" href='/interviews' target='_blank' />
  <area shape="rect" coords="331,3722,489,3917" href='/interviews' target='_blank' />
  <area shape="rect" coords="520,3724,685,3915" href='/interviews' target='_blank' />
</map>
<!-- <img src='/infographic.svg'> -->

</template>
