<template name='interviews'>


      <h3>Digital labour: are you ready?</h3>
      <div class='row'>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/jLD8KdUmKNQ?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/oc8QsWZodIA?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
    </div>
      <h3>Digital labour: the issues</h3>
      <div class='row'>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/cNVcKNdgTAI?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/ZnoGAVHbI8o?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/3pHeVlINalY?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/zpA9vdPY3K0?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/vhSwr7vpdco?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/_cli5m2G1fY?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/1YIwYQoE4mA?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
    </div>



      <h3>Digital Labour: You Decide</h3>
      <div class='row'>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/wcThyHNpXmU?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/z2Tj-s5XnvI?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'><iframe width="560" height="315" src="https://www.youtube.com/embed/FtjJYzEDkCw?controls=1&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
    </div>

    <div style='margin-top:30px'></div>

</template>
