<template name='interviews'>


      <h2>Context</h2>
      <div class='row'>
      <div class='col-md-4'>Work We Have (UK)<iframe width="560" height="315" src="https://www.youtube.com/embed/jLD8KdUmKNQ?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'>Work We Have (Global)<iframe width="560" height="315" src="https://www.youtube.com/embed/oc8QsWZodIA?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
    </div>
      <h3>Themes</h3>
      <div class='row'>
      <div class='col-md-4'>Flexibility<iframe width="560" height="315" src="https://www.youtube.com/embed/cNVcKNdgTAI?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'>Unitisation<iframe width="560" height="315" src="https://www.youtube.com/embed/ZnoGAVHbI8o?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'>Trust<iframe width="560" height="315" src="https://www.youtube.com/embed/3pHeVlINalY?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'>Workers Voice<iframe width="560" height="315" src="https://www.youtube.com/embed/zpA9vdPY3K0?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'>Competition<iframe width="560" height="315" src="https://www.youtube.com/embed/vhSwr7vpdco?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'>Insecurity<iframe width="560" height="315" src="https://www.youtube.com/embed/_cli5m2G1fY?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'>Solidarity<iframe width="560" height="315" src="https://www.youtube.com/embed/1YIwYQoE4mA?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
    </div>



      <h3>Digital Labour: You Decide</h3>
      <div class='row'>
      <div class='col-md-4'>Future of Work - Compete <iframe width="560" height="315" src="https://www.youtube.com/embed/wcThyHNpXmU?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'>Future of Work - Cooperate <iframe width="560" height="315" src="https://www.youtube.com/embed/z2Tj-s5XnvI?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
      <div class='col-md-4'>Future of Work - Capitalise <iframe width="560" height="315" src="https://www.youtube.com/embed/FtjJYzEDkCw?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe></div>
    </div>

    <div style='margin-top:30px'></div>

</template>
