<template name="project">
  <div class="container">
    <div id="main" class="row-fluid">
	<div class="col-sm-7" id="background">
		<h1>BACKGROUND</h1>

		<p>Millions of people work online, from microworkers who are paid less than £0.1 per job, to freelancers who charge £1000s for professional services. There is also a rise in competition-based jobs, where the employer benefits from the creative efforts of everyone who bids for the job, not just the one they finally choose.  Importantly, the intellectual property & social capital of bidders goes unacknowledged and unpaid. Bidders are often based in what the 'West' calls 'low wage economies'. The main conceit of this process is that it is acceptable for the ideas and creative work of the majority of bidders to be uncredited or attributed, and that outsourcing systems provide people with access to the work they want.<br><br>

		The Work We Want examines this situation by outsourcing a series of tasks with varying degrees of scope for creative interpretation, and presenting the stories of those who contribute.<br><br>

		As part of the Web We Want Festival, we asked digital workers around the world about their experiences of work. They were asked to submit a photograph of themselves at work and to answer 4 questions:</p><br>

<ul>
		<li>What work do you do?</li> 
		<li>How much are you paid?</li> 
		<li>What work do you want?</li> 
		<li>How much do you want to be paid?</li> 
</ul>
		<p>We are now inviting the public to vote for the images and responses you find most interesting, compelling, or moving. The person who receives the most votes will be given a $5000 prize.<br><br>

		We will then create an artwork that attempts to tell the story of the winner. This will be shown at the Web We Want festival in May 2015. <br><br>

		This project is commissioned by The Space, and supported by Freelancer.com and the Southbank Centre. </p>
		
		
	</div>
<div class="col-sm-4" id="twitter">
	<a class="twitter-timeline"  href="https://twitter.com/WorkWeWant" data-widget-id="530783815489175554">Tweets by @WorkWeWant</a>
    </div>
</div>
  </div>
</template>