<template name="project">

	<div class="col-sm-7 textBox" >
		<h1>THE WORK WE WANT</h1>

		<p>Millions of us access and carry out work online, with <a href='#'>53 million freelancers in the

		USA alone</a>. This presents many people with opportunities for flexibility, 

		independence and creative freedom. However, it can be insecure and lack some of 

		the benefits of being employed by a company, like having access to a union and a 

		pension.<br><br>

		Jobs accessed online are often won through competitions, where work is done with 

		no guarantee of pay. An employer can get hundreds of people to do a job for him, 

		and only pay the person whose work he likes the best. As well as this, workers are 

		competing globally for jobs, not in their local community or even country. Because 

		this global network of workers is so geographically dispersed, it’s hard for workers to 

		get together and look after each other’s interests.<br><br>

		In this challenging situation, how can we become a more resilient workforce and look 

		out for each other in a global community? How can we achieve solidarity in the face 

		of competition? <br><br>

		To explore this, we ran a competition asking digital workers around the world to 

		submit a photograph of themselves at work and to answer <a href='#'>4 questions</a>. We received 

		over <a href='#'>200 submissions</a> and exhibited a selection of them at the <a href='#'>Web We Want 

		Festival.</a> The public voted for the submissions they found most interesting, 

		compelling, or moving. The winner of a $500 prize was Tricia Schroeder, Canada.

		<a href='#'>See photos from the festival</a> or <a href="{{pathFor 'blog'}}">read more on our blog.</a></p>
		
	</div>
</template>