<template name='tmpHome'>

<style>

/*@import url(http://fonts.googleapis.com/css?family=Oswald);*/
/*.navMenu{
display:none;
}*/
.container-fluid{
  padding:20px;
}
#wrap{
  background: none;
}
.nvPt{

  /*margin-top:30px;*/
}
.orange{color: #F36E2B;font-size:2.5em;}
.nvPt img{margin-top:10px;border:4px solid white;width:100%;height:auto;}
.nvPt img:hover{border:4px solid #F36E2B;}
/*.fp{width:100%;height:auto}*/


.navBx{
  /*border:2px solid blue;*/

}


.res{
  display:block;
  width:100%;height:auto;
  margin:0 auto;
  max-width:500px;
}
.centHead{
  font-family:Oswald;
  /*border:1px solid red;*/
  /*text-align:center;*/
}
.centHead h1{margin-left:18px;
}

.fp{width:100%;height:auto;}

</style>

<div class='container-fluid'>


    <div class='col-md-12 col-md-offset-0 col-sm-12'>

      <div class='row'>
      <div class='col-md-8'>
      <h1 class='orange'>The Work We Want</h1>
      <p>We face a radically different future of work, which is being shaped by
        the web.  The days of steady 9-5 are over, as workers around the world come online.
        Competiton for jobs is global, work is brought and sold on demand, and the price
        of labour is falling.<br><br>

        How should we respond as a global workforce? How can we prepare for a different future of work?
        Are we going to compete, co-operate or exploit our fellow workers?<br><br>

        The Work We Want explores these questions through a series of creative processes:</p>
      </div>
    </div>
        <div class='row'>
          <div class='col-sm-4  centHead'><a href='/infographic'><h1>INFOGRAPHIC</h1><img class='res' src='infographic.jpg'></a></div>
          <div class='col-sm-4  centHead'><a href='/interviews' ><h1>VIDEO INTERVIEWS</h1><img class='res' src='video_interviews.jpg'></a></div>
          <div class='col-sm-4  centHead'><a href='/work'><h1>ONLINE LABOUR GAME</h1><img class='res' src='online_game.jpg'></a></div>


          <div class='col-sm-4 centHead'><a href='/byron'><h1>OUTSOURCED ART</h1><img class='res' src='outsourced_artwork.jpg'></a></div>
          <div class='col-sm-4  centHead'><a href='{{pathFor 'posts'}}'><h1>WORKER STORIES</h1><img class='res' src='workerstories.jpg'></a></div>
          <div class='col-sm-4 centHead'><a href="{{pathFor 'blog'}}" id="followus"><h1>JOURNEY</h1><img class='res' src='festival2.jpg'></a></div>
        </div>


      </div>

  </div>




</template>
