<template name='nav'>
<style>
.navMenu{
  display:none;
  }
  #wrap{
    background: none;
  }
  input,button{
    color:black;

  }
  img{display:block;margin:0 auto}
  .point{text-align:center;}
  .done{font-size:2em;display:block;margin:0 auto;}

  .score{
    left: 85%;
  position: relative;
  top: 15px;
  }
  img{max-width:100%;height:auto;}
  #theme{width:100%;height:auto;margin-bottom:30px;}
  </style>
  <div class='score'><strong>{{points}}</strong> peanuts</div>
<div class='container'>
  <h1>Hi <strong>{{user}}</strong></h1>
  <h2>Pick a video to start earning</h2>

  <img src="game_pg2.svg" width="514" height="377" usemap="#Map" border="0" id='theme' />
<map name="Map" id="Map">
  <area shape="rect" coords="79,3,168,153" href="/vid/cNVcKNdgTAI/Flexibility" target="_self" alt="Flexibility" />
  <area shape="rect" coords="214,6,323,155" href="/vid/ZnoGAVHbI8o/Unitisation" target="_self" alt="Unitisation" />
  <area shape="rect" coords="383,34,457,153" href="/vid/3pHeVlINalY/Trust" target="_self" alt="Trust" />
  <area shape="rect" coords="6,174,79,376" href="/vid/zpA9vdPY3K0/Workers Voice" target="_self" alt="Workers Voice" />
  <area shape="rect" coords="117,279,230,380" href="/vid/vhSwr7vpdco/Competition" target="_self" alt="Competition" />
  <area shape="rect" coords="265,228,368,376" href="/vid/_cli5m2G1fY/Insecurity" target="_self" alt="Insecurity" />
  <area shape="rect" coords="426,244,533,391" href="/vid/1YIwYQoE4mA/Worker Solidarity" target="_self" alt="Solidarity" />
</map>


  <!-- <img src="game_pg2.svg" width="980" height="745" usemap="#Map" border="0" />
<map name="Map" id="Map">
  <area shape="rect" coords="288,42,416,296" href="/vid/cNVcKNdgTAI/Flexibility" target="_self" alt="Flexibility" />
  <area shape="rect" coords="510,81,677,299" href="/vid/ZnoGAVHbI8o/Unitisation" target="_self" alt="Unitisation" />
  <area shape="rect" coords="793,107,905,296" href="/vid/3pHeVlINalY/Trust" target="_self" alt="Trust" />
  <area shape="rect" coords="65,358,187,689" href="/vid/zpA9vdPY3K0/Workers Voice" target="_self" alt="Workers Voice" />
  <area shape="rect" coords="277,570,434,687" href="/vid/vhSwr7vpdco/Competition" target="_self" alt="Competition" />
  <area shape="rect" coords="514,465,668,688" href="/vid/_cli5m2G1fY/Insecurity" target="_self" alt="Insecurity" />
  <area shape="rect" coords="774,479,921,688" href="/vid/1YIwYQoE4mA/Worker Solidarity" target="_self" alt="Solidarity" />
</map> -->


  <button class="btn btn-primary done">Finished</button>
</div>

</template>
