<template name='nav'>
<style>
.navMenu{
  display:none;
  }
  #wrap{
    background: none;
  }
  input,button{
    color:black;

  }
  img{display:block;margin:0 auto}
  .point{text-align:center;}
  .done{font-size:2em;display:block;margin:0 auto;}


  img{max-width:100%;height:auto;}
  #theme{width:100%;height:auto;margin-bottom:30px;}

  .col-sm-4{margin-bottom: 20px;}
  .gameImg:hover{
    /*max-width:98%;*/
    /*border-right:2px solid white;*/
  }
  </style>

  <h2>Pick a video to start earning</h2>

<br><br>
  <div class="container" style='margin-left:0px;padding-left:0px'>
    <div class='col-sm-4'><a href='/vid/jLD8KdUmKNQ/UK_Context'><img class='gameImg' src='thumb/UK_Work Now_small.jpg'></a></div>
    <div class='col-sm-4'><a href='/vid/oc8QsWZodIA/World_Context'><img class='gameImg' src='thumb/global_work_now_small.jpg'></a></div>
    <div class='col-sm-4'><a href='/vid/cNVcKNdgTAI/Flexibility'><img class='gameImg' src='thumb/Flexibility_small.jpg'></a></div>

    <div class='col-sm-4'><a href='/vid/ZnoGAVHbI8o/Unitisation'><img class='gameImg' src='thumb/Unitisation_small.jpg'></a></div>
    <div class='col-sm-4'><a href='/vid/3pHeVlINalY/Trust'><img class='gameImg' src='thumb/Trust.jpg'></a></div>
    <div class='col-sm-4'><a href='/vid/zpA9vdPY3K0/Workers Voice'><img class='gameImg' src='thumb/Workers_Voice.jpg'></a></div>

    <div class='col-sm-4'><a href='/vid/vhSwr7vpdco/Competition'><img class='gameImg' src='thumb/Competition.jpg'></a></div>
    <div class='col-sm-4'><a href='/vid/_cli5m2G1fY/Insecurity'><img class='gameImg' src='thumb/Insecurity.jpg'></a></div>
    <div class='col-sm-4'><a href='/vid/1YIwYQoE4mA/Worker Solidarity'><img class='gameImg' src='thumb/Solidarity_small.jpg'></a></div>

    <div class='col-sm-4'><a href='/vid/wcThyHNpXmU/Compete'><img class='gameImg' src='thumb/Compete.jpg'></a></div>
    <div class='col-sm-4'><a href='/vid/FtjJYzEDkCw/Capitalise'><img class='gameImg' src='thumb/Capitalise.jpg'></a></div>
    <div class='col-sm-4'><a href='/vid/z2Tj-s5XnvI/Cooperate'><img class='gameImg' src='thumb/Cooperate.jpg'></a></div>
    <button class="btn btn-default done" style='margin-bottom:50px'>Finished</button>
  </div>



  <!-- <div class='col-md-6 col-sm-12'><a href="/vid/jLD8KdUmKNQ/UK_Context" target="_self"><img src='uk.svg' style='width:30%'></a></div>
  <div class='col-md-6 col-sm-12'><a href="/vid/oc8QsWZodIA/World_Context" target="_self"><img src='world.svg' style='width:80%'></a></div>

  <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12' style='margin-top:30px'>
  <img src="game_pg2.svg" width="514" height="377" usemap="#Map" border="0" id='theme' />
<map name="Map" id="Map">
  <area shape="rect" coords="79,3,168,153" href="/vid/cNVcKNdgTAI/Flexibility" target="_self" alt="Flexibility" />
  <area shape="rect" coords="214,6,323,155" href="/vid/ZnoGAVHbI8o/Unitisation" target="_self" alt="Unitisation" />
  <area shape="rect" coords="383,34,457,153" href="/vid/3pHeVlINalY/Trust" target="_self" alt="Trust" />
  <area shape="rect" coords="6,174,79,376" href="/vid/zpA9vdPY3K0/Workers Voice" target="_self" alt="Workers Voice" />
  <area shape="rect" coords="117,279,230,380" href="/vid/vhSwr7vpdco/Competition" target="_self" alt="Competition" />
  <area shape="rect" coords="265,228,368,376" href="/vid/_cli5m2G1fY/Insecurity" target="_self" alt="Insecurity" />
  <area shape="rect" coords="426,244,533,391" href="/vid/1YIwYQoE4mA/Worker Solidarity" target="_self" alt="Solidarity" />
</map>
</div>

<img src="ccc.svg" alt="" width="612" height="299" usemap="#Map2" border="0" style='width:80%'/>
<map name="Map2" id="Map2">
  <area shape="circle" coords="112,107,66" href="/vid/wcThyHNpXmU/Compete" target="_self" alt="Compete" />
  <area shape="circle" coords="302,107,65" href="/vid/FtjJYzEDkCw/Capitalise" target="_self" alt="Capitalise" />
  <area shape="circle" coords="496,106,65" href="/vid/z2Tj-s5XnvI/Cooperate" target="_self" alt="Cooperate" />
</map> -->





</template>
