<template name='scoring'>

<style>
.navMenu{
display:none;
}
#wrap{
  background: none;
}
input,button{
  color:black;

}
#textarea{width:100%;font-size:2em;color:black;}
</style>

  <div class='container' style='margin-left:0px;padding-left:0px'>
    <h1>Good Work {{user}}!</h1>

    <h1>You have earned <strong>{{points}}</strong> peanuts</h1> <br><br>

      <p>Please see one of the Work We Want management team to collect your earnings.*
         <br><br>Now <a href='/nav'>Watch another video</a> <br><br>OR
</p>

<button class="btn btn-default done" style='margin-top:50px;margin-bottom:50px'>I am finished</button>

<p>*If you are allergic to peanuts, please let the team know, and we will provide you with a nut-free alternative.</p>


  </div>
</template>
