<template name='scoring'>

<style>
.navMenu{
display:none;
}
#wrap{
  background: none;
}
input,button{
  color:black;

}
#textarea{width:100%;font-size:2em;color:black;}
</style>

  <div class='container'>
    <h1>Good Work {{user}}!</h1>

    <h1>You have earned <strong>{{points}}</strong> peanuts</h1> <br><br>

      <p>Please see one of the Work We Want management team to collect your earnings. If you are allergic to peanuts, please let the team know, and we will provide you with a nut-free alternative. <br><br>OR <a href='/nav'>Watch another video</a>
</p>




  </div>
</template>
