<template name='scoring'>

<style>
.navMenu{
display:none;
}
#wrap{
  background: none;
}
input,button{
  color:black;

}
#textarea{width:100%;font-size:2em;color:black;}
</style>

  <div class='container'>
    <h1>Good Work {{user}}!</h1>

    <h1>You have earned <strong>{{points}}</strong> points</h1> <br><br>

      <p>Please enter your username at the peanut machine to recieve.* or <a href='/nav'>Watch another video</a>

      <br><br><br><sub><strong>*not</strong> if you are alergic to nuts</sub></p>



  </div>
</template>
