<template name='vid'>

  <style>
  .navMenu{
  display:none;
  }
  #wrap{
    background: none;
  }
  input,button{
    color:black;

  }
  #textarea{width:100%;font-size:2em;color:black;max-width:560px;}
  .done{font-size:2em;display:block;}
  </style>

<div id='vids'>
<h2 style='margin-bottom:60px'>Watch <span style='color:#F36E2B'>{{title}}</span>, then tag it with descriptive keywords.</h2>

{{#if viewed}}
<a href='/nav'>You have already worked on this - go see another</a>
{{else}}
<div class='col-md-4 col-md-offset-2 col-sm-12' >
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{vidId}}?controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen style="display:block;margin:0 auto;max-width:100%"></iframe>
</div>
<div class='col-md-4 col-sm-12' style='min-height:600px'>
  <div class="control-group">
    <label class="control-label" for="textarea" style='margin-bottom:30px'>Add Tags</label>
    <div class="controls">
      <textarea id="textarea" name="textarea" style='height:215px'></textarea>
    </div>
    <button class="btn btn-primary done">I am done.</button>
  </div>
</div>
  {{/if}}




<!-- Textarea -->





</div>
</template>
