<template name='work'>

<style>
.navMenu{
  display:none;
}
#wrap{
  background: none;
}
input,button{
  color:black;

}
.btn{font-size:.9em;}
#getUsr{
  padding:50px;
  /*border:1px solid white;*/
  display:block;
  margin: 0 auto;
  font-size:2em;
}
#vids{
  display:none;
}
.vid{
  /*display:block;*/
  border:5px solid white;}
  #textarea{width:100%;font-size:2em;color:black;}
  iframe{
    margin: 0 auto;
    /*width:100%;
    min-height:315px;
    height:auto;*/
  }
  .text{width:305px;}
  </style>

  <div id='getUsr'>
    <h1>Work We Want: We Pay Peanuts</h1>
    <h2>Here's how it works:</h2>

    <div style="display:inline-block;">
    <div class="col-lg-4 col-sm-6 col-xs-12 item">
      <div class="thumb">
        <img src='game_button.svg' width="300px" height="auto">
        <span class="text">Watch : Select and watch videos videos about online work</span>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-xs-12 item">
      <div class="thumb">
        <img src='game_button.svg' width="300px" height="auto">
        <span class="text">Work: Tag the videos with descriptive keywords (tags)</span>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-xs-12 item">
      <div class="thumb">
        <img src='game_button.svg' width="300px" height="auto">
        <span class="text">Earn: Get paid in peanuts</span>
      </div>
    </div>

</div>
  <div style="display:block;margin-top:20px">
    Enter Username :
    <input type="text" name="user" id="user">
    <button class="btn btn-primary user">Get to Work</button>
  </div>

</div>


</template>
