<template name="blog">
		<div class="col-sm-8 textBox" >
			<h1>Blog</h1>
				<div class="row" style="margin-left:50px;margin-right:50px;margin-bottom:20px">
					<h3>Public vote at Web We Want festival</h3>
				<img src='festival2.jpg' style="width:250px;height:auto;display:block;margin-bottom:10px"> For the first part of the Work We Want project, we ran a competition on the global outsourcing platform Freelancer.com, asking digital workers around the world 4 questions <a href="{{pathFor 'jan'}}">Read more</a>
				</div>
				<div class='row' style="margin-left:50px;margin-right:50px;margin-bottom:20px">
					<h3>Science teacher wins $500.00</h3>
				<img src='tricia.jpg' style="width:250px;height:auto;display:block;margin-bottom:10px">We are delighted to announce that the worker who received the most public votes was Tricia Schroeder, a science teacher from Canada. <a href="{{pathFor 'tricia'}}">Read more</a>
				</div>
				<div class='row' style="margin-left:50px;margin-right:50px;margin-bottom:20px">
					<h3>Thank you</h3>
				<img src='thankyou.jpg' style="width:250px;height:auto;display:block;margin-bottom:10px">Our competition winner Tricia has sent a message of thanks. <a href="{{pathFor 'thankyou'}}">Read more</a>
				</div>

				<div class='row' style="margin-left:50px;margin-right:50px;margin-bottom:20px">
					<h3>Meeting Tricia</h3>
				<img src='chat.jpg' style="width:250px;height:auto;display:block;margin-bottom:10px">Our first web conference meeting with competition winner Tricia. <a href="{{pathFor 'meet'}}">Read more</a>
				</div>

				<div class='row' style="margin-left:50px;margin-right:50px;margin-bottom:20px">
					<h3>Artwork outsourced to artist Byron Peters</h3>
				<img src='byronPeters.jpg' style="width:250px;height:auto;display:block;margin-bottom:10px">We have been continuing to outsource aspects of our project, and recently ran a competition asking digital artists to propose ideas for an artwork <a href="{{pathFor 'byronPeters'}}">Read more</a>
				</div>

		</div>

</template>
