<template name="blog">
		<div class="col-sm-8 textBox" >
			<h1>Blog</h1>
				<div class="row" style="margin-left:50px">
					<p>Public vote at Web We Want festival</p>
				<img src='festival2.jpg' style="width:250px;height:auto;display:block;margin-bottom:10px"> <a href="{{pathFor 'jan'}}">Read more</a>
				</div>
				<div class='row' style="margin-left:50px">
					<p>Science teacher wins $500.00</p>
				<img src='tricia.jpg' style="width:250px;height:auto;display:block;margin-bottom:10px"> <a href="{{pathFor 'tricia'}}">Read more</a>
				</div>
				
				
		</div>

</template>