<template name="byronPeters">
	<div class="container">
		<div id="main" class="row-fluid">
			<h1>Artwork outsourced to artist Byron Peters</h1>

			<img src="/byronPeters.jpg" style='max-width:100%;display:block;text-align:center;margin:0 auto;'>

			<p>Monodramas, Byron Peters & digital labourers (Video Still, 2014-Ongoing)</p>  <br><br>
			<p>
				We have been continuing to outsource aspects of our project, and recently <a href='http://lumenprize.com/work-we-want-commission' target='_blank'>ran a competition</a> asking digital artists to propose ideas for an artwork representing the working life of <a href='{{pathFor 'meet'}}'>Tricia Schroeder</a>. Tricia, a freelancer based in Canada, was our <a href='{{pathFor 'tricia'}}'>previous competition winner</a> who we have got to know over the last few months.
<br><br>
We received a number of excellent proposals, with Tricia leading on the reviewing process. The selected artist is <a href='http://byronpeters.com/' target='_blank'>Byron Peters</a>, an artist and writer who works between London, Vancouver and San Francisco. Byron recently produced  <a href='http://byronpeters.com/2014/the-moon/' target='_blank'>Monodramas</a>, a participatory video made in collaboration with digital labourers worldwide about the conditions of precarious and gig-based work. Monodramas was produced in conjunction with <a href='http://thewhitebuilding.org.uk/residency/byron-peters-uk/' target='_blank'>The White Building’s Infraspection Residency</a>, 2014.
<br><br>
Tricia was impressed by Byron’s sensitive interpretation of the brief and his collaborative, exploratory approach to producing the work.
<br><br>
In the spirit of the project we are leaving the production of the work entirely to Tricia and Byron, and anticipate the outcome with excitement.
<br><br>
You can find out more about Byron at <a href='http://byronpeters.com/' target='_blank'>byronpeters.com</a>
			</p>

				<div id="disqus_thread"></div>
			</div>
		</div>
	</template>
