<template name="jan">
	<div class="container">
		<div id="main" class="row-fluid">
			<h1>Public vote at Web We Want festival</h1>
			<p>For the first part of the Work We Want project, we ran a competition on the global outsourcing platform Freelancer.com, asking digital workers around the world 4 questions: What work do you do? What do you get paid? What work do you want to do? What do you want to get paid? We also asked the workers to submit a photograph that represented their working life. The prize money offered was $500.00. <br><br>

			We received over 200 submissions from countries including India, USA, Ukraine, Canada, Malaysia, Portugal, Kazakhstan and Turkey, and exhibited a selection of them (those that answered all the questions and included a photograph) at the Web We Want festival. The public were invited to vote for the worker whose response they found most interesting, compelling, or moving.
			
			<div class="col-xs-6"><img src="/festival1.jpg" style="display:block;text-align:center;margin:0 auto;margin-top:20px;margin-bottom:20px"></div>
			<div class="col-xs-6"><img src="/festival2.jpg" style="display:block;text-align:center;margin:0 auto;margin-top:20px;margin-bottom:20px"></div>
			<br><br>
			There was plenty of variety in the submissions, with the freelancers’ jobs included farming, pest control, web and graphic design, pool playing, teaching swimming, data entry, social justice and more. Earnings were varied, from $2 USD per hour to $30 USD per hour, with some people giving monthly rather than hourly figures. <br><br>

			Responses to the question ‘What work do you want to do?’ were personal and intriguing - a pest controller from the USA wanted to do welding, a sign maker from Venezuela wanted to do drone photography, and a developer from India simply wanted ‘adventure’. A particularly striking response came from Ratim Roy, a farmer in India, earning $2 USD per hour. He said: <br><br>
			<div class="row" style="margin-bottom:30px">
			<div class="col-xs-6"><img src="/festival3.jpg"></div>
			<div class="col-xs-6" style="margin-top:50px"><i>
		
			“In this part I'm not sure. I have never thought about this. I always do hard work to earn more money so that I can look after my family. As I am the only one earning member of my 8 members family.”</i></div>
			</div>
		
			This was a stark reminder that career preferences and choices are not always available to those who struggle to pay for basic food and housing – perhaps even the question itself belied our Western mindset. 	<br><br>

			We had some fascinating conversations with visitors about why they voted - sometimes they were compelled by the images, or the plight of the workers, or their attitudes towards work. 	<br><br>

		<div style="margin-left: 1.5em;"><i>	“The reason I voted for him first of all was the image, which was really powerful…and then I looked at what he said, and he talked about being a freelancer, working with NGOs, and I thought this person does a lot of good but is open to working and taking whatever comes, he makes $2 per hour - which I know in India is a decent salary, but it’s still not much, and really what was beautiful was he said it was about making people happy”</i></div>	<br><br>

			We were also buoyed up by one visitor’s suggestion that displaying the submissions in banks or outside commuter points in tech city would be a wake up call to people who thought they’d had a bad day in the office. Read our next post to find out who won the public vote.
			
			</p>
			 <div id="disqus_thread"></div>
		</div>
	</div>
</template>