<template name="meet">
  <div class="container">
    <div id="main" class="row-fluid">
      <h1>Glasshouse meets Tricia</h1>
      <img src="/chat.jpg" style="max-width:100%;display:block;text-align:center;margin:0 auto;margin-bottom:50px">
      <p>We are very excited to have had our first web conference meeting with competition winner Tricia (bottom right in the image!).
      We had a great conversation about how she will be involved in the project; She will work with a commissioned artist to create
      a digital artwork that represents her working life.
      The commissioned artist will be selected through a competition run by Lumen (coming online soon).<br><br>
      To inform this process, we asked Tricia to answer a series of initial questions, to get a better sense of her experiences of freelance work:
      <br><br>
      <span style='color:#FF6E07'>Q:  What attracted you to freelance work?</span> <br>
      A:  As a teacher who is at the mid-point of her career, I felt I was still searching for fulfillment. I began to evaluate the meaning of “happy” and I would often ask myself, am I truly happy?  On the search for happiness I found some areas of me as an individual that teaching just couldn’t fill. As I began to re-evaluate what was missing in my life, I realized I needed a creative outlet that served some larger purpose. I needed to spend time creating pieces of work that had “me” infused into it, instead of curriculum and ministry standards telling me what my work needs to be. Each piece of freelance work I do, I choose carefully so I can put my heart and soul into all of the products I create.
      <br><br>
      <span style='color:#FF6E07'>Q:  What does freelance work offer you?</span><br>
      A:  Because I am in a teaching job that is bound by curriculum and ministry standards, freelance work allows me to express who I am in the most creative ways possible. There is an element of competition to be the best at what I do when I freelance and I choose my freelancing jobs so I can express my love and passion for science and the human body.
      <br><br>
      <span style='color:#FF6E07'>Q:  Are there any drawbacks to freelance work?</span><br>
      A: The insecurity of long term employment, pension, benefits, etc. I would love to freelance full time, however walking away from a secure job with a secure future wouldn’t be fair to my husband or my young family. I have also experienced trust issues within the freelance world.  When I was just starting out, a lot of people wouldn’t hire me just because of my lack of experience. Although I understand experience is important to show employability, it is very difficult for a new freelancer to break into the profession.
      <br><br>
      Like all freelancers, I have also had difficulty getting paid a fair rate for the work I do and to ensure I get paid.  Although on most websites (like Freelancer.com) they have administrators that will help you track down your money, it’s a laborious process.
      <br><br>
      Another issue I have experienced in freelancing is the fact that to get ahead in the profession, you have to pay out of your pocket. For every job you accept on most freelancing websites the site will charge you a fee and it’s usually a percentage of what you are going to make. Add that to a newer freelancer who is getting paid very little, a freelancer has to take risks to pay out money to start to make money.
      <br><br>
      <span style='color:#FF6E07'>Q:  Where/how do you find freelance work?</span><br>
      A:  Through freelancing websites like Freelancer.com, FreelanceWriting.com and a variety of online writing contests.
      <br><br>
      <span style='color:#FF6E07'>Q: How does freelance work affect your life?</span> <br>
      A:  Freelancing brings me joy and happiness. I am truly happy when I am creating a piece of freelancing work that has me infused into it. There is nothing more rewarding than pouring yourself into a digital product and having your employers (or members of the public ) impressed with the final product. It definitely makes a person feel successful.  Since I have started freelancing, I have found my happiness and my creative freedom. This has spilled out into my personal life as well. I am a better teacher, wife and mother because I’m channelling my true inner spirit and I’m happy again.
      <br><br>
      <span style='color:#FF6E07'>Q: What is your relationship with other freelance workers?</span><br>
      A: Overall I would say positive.  It is pretty easy to determine if you are dealing with a professional employer or not. I am pretty selective with my projects that I bid on or enter a contest for, so most of my experiences have been positive ones. When I do work with a professional employer I am very impressed with the level of communication and support they give. If I create a product that doesn’t quite match their vision, we will both go back to the drawing board and work together until a finished product is created that satisfies their needs.
      <br><br><br>
      We will announce the launch of the competition brief on the blog soon.
      <br><br>
    </p>
      <div id="disqus_thread"></div>
    </div>
  </div>
</template>
