<template name="thankyou">
  <div class="container">
    <div id="main" class="row-fluid">
      <h1>A message of thanks from Tricia</h1>
      <img src="/thankyou.jpg" style="max-width:100%;display:block;text-align:center;margin:0 auto;margin-bottom:50px">
      <p>
        Our competition winner Tricia has sent a message of thanks to all the people who voted for
        her image at the Web We Want festival back in November:<br><br>
        <i>To everyone who voted for my digital image at the Work We Want Festival in the fall, I would like to say a huge THANK-YOU! To have your heart and soul shown to the public makes an artist feel very vulnerable, but your support and votes turned my vulnerability into accomplishment - thank you! I am thrilled that so many people enjoyed the blend of the hard discipline of science with the soft nature of photography. That picture represents my loves - biology, anatomy, chemistry and the experimental hands-on science.
          Thank you to each and every one of you who voted. I appreciate it from the bottom of my heart!</i><br><br>
          Image: CC BY 2.0 compujeramey

      </p>
        <div id="disqus_thread"></div>
      </div>
    </div>
  </template>
