<template name="tricia">
	<div class="container">
		<div id="main" class="row-fluid">
			<h1>Public Votes for Science Teacher to win $500.00</h1>
			<p>We are delighted to announce that the worker who received the most public votes was Tricia Schroeder, a science teacher from Canada. Below is her image and responses to the questions:</p>  <br><br>

				<div class="row">
					<div class="col-xs-6"><img src="/tricia.jpg" style="max-width:100%;display:block;text-align:center;margin:0 auto;"></div>
					<div class="col-xs-6"><h4>What work do you do?</h4>
						<p>I am a science teacher.</p><br>

						<h4>How much are you paid?</h4>

						<p>25</p>

						<h4>What work do you want?</h4>

						<p>Teach/Freelancer</p>

						<h4>How much do you want to be paid?</h4>

						<p>I feel I make a fair wage as a teacher and anything I make Freelancing is a bonus. Money shouldn't define creativity!</p>
					</div>
				</div>
				<br><br>
				<p>Tricia has been awarded the $500 prize, and we have invited her to collaborate with an artist to create a digital artwork
					telling her story in more detail. Since this project focuses on digital labour, which is often outsourced,
					we thought it was appropriate to outsource this next step of the project.
					To this end, we are running a competition to find an artist to work with Tricia, which will be launched at the end of January.
					Tricia is excited to be working with us, and said ‘I would love to continue on this journey. I think it's such a great venture!’
				</p>
				<div id="disqus_thread"></div>
			</div>
		</div>
	</template>
