<template name="postItem">

	<div class="postItem">
		<div class="post-content">
			<div class="row textBox">
				<div class="col-sm-6" id="postImg">
					<img src="{{src}}" class="largeImg">
				</div>
				<div class="col-sm-6">
					<h2>{{name}}, {{country}}</h2>
					<h4>What work do you do? </h4> <p>{{wwd}}</p>
					<h4>How much are you paid ($/hr)? </h4> <p>{{pwh}}</p>
					<h4>What work do you want? </h4><p>{{www}}</p>
					<h4>How much do you want to be paid ($/hr)? </h4> <p>{{pww}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6" id="navBtns">
					<a class="navbar-brand" href="{{pathFor 'posts'}}">back</a>

				</div>
			</div>
		</div>
	</div>
</template>
