<template name="_su_bmission">
	<form class="form-horizontal sub">
	<fieldset>

	<!-- Form Name -->
	<legend>Submit to the Work We Want Project</legend>

	<!-- Text input-->
	<div class="form-group">
	  <label class="col-md-6 control-label" for="nameinput">Name</label>  
	  <div class="col-md-6">
	  <input id="nameinput" name="name" type="text" placeholder="" class="form-control input-md">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-md-6 control-label" for="countryinput">Country</label>  
	  <div class="col-md-6">
	  <input id="countryinput" name="country" type="text" placeholder="" class="form-control input-md">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-md-6 control-label" for="wwdinput">What work do you typically do?</label>  
	  <div class="col-md-6">
	  <input id="wwdinput" name="wwd" type="text" placeholder="" class="form-control input-md">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-md-6 control-label" for="pwhinput">How much do you typically get paid? (USD per hour)</label>  
	  <div class="col-md-6">
	  <input id="pwhinput" name="pwh" type="text" placeholder="" class="form-control input-md">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-md-6 control-label" for="wwwinput">What work do you want to do?</label>  
	  <div class="col-md-6">
	  <input id="wwwinput" name="www" type="text" placeholder="" class="form-control input-md">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-md-6 control-label" for="pwwinput">How much do you want to get paid?</label>  
	  <div class="col-md-6">
	  <input id="pwwinput" name="pww" type="text" placeholder="" class="form-control input-md">
	  </div>
	</div>

	<!-- File Button --> 
	<div class="form-group">
	  <label class="col-md-6 control-label" for="filebutton">Upload Image</label>
	  <div class="col-md-6">
	    <input id="filebutton" name="filebutton" class="input-file" type="file">
	  </div>
	</div>

	<!-- Prepended checkbox -->
	<div class="form-group">
	  <label class="col-md-10 " for="prependedcheckbox">All rights to the content submitted will be assigned to Glasshouse on a royalty free licence basis.</label>
	  <div class="col-md-2">
	    <div class="input-group">
	      <span class="input-group-addon">     
	          <input type="checkbox">     
	      </span>
	    </div>
	  </div>
	</div>

	<!-- Button -->
	<div class="form-group">
	  <div class="col-md-12">
	    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
	  </div>
	</div>

	</fieldset>
	</form>
	
</template>